---
import ClientsInfo from './ClientsInfoInput.astro'
import ProductSizes from './ProductSizes'
import Quantity from './Quantity.astro'
import { Button } from '@nextui-org/react'
import ImageGallery from './ImageGallery'
const { image, name, price, link, data } = Astro.props

let hasBonus = true;

if (name.includes("Oreiller") || name.includes('mousse')) {
  hasBonus = false;
}

---

<!-- Product Details Card -->
<div class="flex flex-row flex-wrap w-full px-2 gap-[32px] justify-center items-start">
  <!-- The Product Picture -->
  

  <ImageGallery client:only="react" image={image} hasBonus={hasBonus}></ImageGallery>


  <!-- * Product Details -->
  <!-- * Column Layout -->
  <div class="flex flex-col gap-[16px] mt-5 p-[32px]">
    <!-- * Product Name -->
    <h1 class="text-xl font-semibold text-black">{ name }</h1>

    <!-- * Product Description -->
    <div class="font-normal text-sm max-w-[65ch]  text-[#848484]">
      <p class="mb-4">Ce matelas en mousse de bonne qualité et de <strong>densité moyenne de 20/22</strong> ajoute du confort à votre chambre ou à votre salon. Il est <strong>garantie 5 ans</strong> et <strong>livré à domicile gratuitement</strong> sur toute la Tunisie.</p>
      <p>Ce matelas est <strong>robuste, solide et ferme</strong>, et offre un excellent soutien et une tenue durable pour une utilisation <strong>jour après jour</strong>. Sa conception en mousse lui rend extrêmement <strong>flexible, léger</strong>.</p>
    </div>

    <!-- * Form -->

    <form action="https://formsubmit.co/a8cfc84ebab960251d92c1c092e19938" method="POST" class="flex flex-col gap-[16px]">
      <!-- * Form Settings -->
        <!-- * Use Table email template -->
        <input type="hidden" name="_template" value="table">
        <!-- * Desable Captcha -->
        <input type="hidden" name="_captcha" value="false">

        <input type="hidden" name="_subject" value="Nouvelle commande par {">





      <!-- * Product Size -->
      <div>
        <h2 class="font-semibold text-black">Choisir une Option:</h2>
        <ProductSizes client:load data={data}></ProductSizes>
      </div>

      <!-- * Client Info -->
      <div>
        <h2 class="font-semibold text-black">Insérez votre Informations:</h2>
        <ClientsInfo />
      </div>

      <!-- * Bottom Row -->
      <div class="flex flex-row flex-wrap align-text-bottom items-center gap-3">
        <!-- * Prices -->
        <div class="flex flex-row flex-wrap align-text-bottom items-baseline gap-3">
          <!-- * Current Price -->
          <p class="font-bold text-[26px] md:text-[36px] text-[#E60D54]" id="final_price">
            {data[0].price} DT
          </p>

          <!-- * Old Price -->
          <p class="font-bold  text-[19px] md:text-[26px]  text-[#7F7F7F] line-through" id="old_price">
            {parseInt(data[0].price) * 2 + ' DT'}
          </p>
        </div>

        <!-- * Quantity -->
        <Quantity></Quantity>

        <!-- * Submit Button -->
        <div class="my-auto row-auto">
          <Button color='primary' size='lg' radius='sm' client:load>
            <input type="submit" value="J'Achète">
          </Button>
        </div>

      </div>
      
      <input type="hidden" name="" id="initial_price" value={data[0].price}>

    </form>


  </div>