---
import products from '../data/products'

interface ProductData {
  size: string;
  price: string;
}

interface Product {
  name: string;
  image: ImageMetadata;
  data: ProductData[];
  description: string;
}

export function getStaticPaths() {
  return [
  products.map((product) => (
    {
      params:{product: product.name.replace(/\s+/g, '-').toLowerCase()},
      props: product
    }
  ))
  ];
}

const { product } = Astro.params;

const { name, image, data, description } = Astro.props;



const title = name
import Footer from '../layouts/Footer.astro'
import ProductDetails from '../components/product_details/ProductDetails.astro';


---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
<!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1310690406236989');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1310690406236989&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->
    </head>

    
    <body class="relative bg-[url('~/assets/images/big-bg.png')] bg-top md:bg-cover md:bg-fixed bg-no-repeat gap-3 flex flex-col h-full m-0">
    
      <div class="px-1 py-3 bg-[#E60D54] text-white w-20 text-center m-2">
        <a href="/" class="w-full h-full">  Retour</a>
      </div>


      <ProductDetails name={name} data={data} image={image.src} description={description} />
      
      <Footer />
    </body>


</html>




<style>

   * {
        font-family: 'Roboto';
        color: black;
    }
    @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}


</style>
