---
import ProductCard from '../components/product_card/ProductCard.astro'
import jarraya from '../assets/images/jarraya.png'
import ProductCardA from '../components/product_card/ProductCardA.astro'
import NewProductCard from '../components/product_card/NewProductCard.astro'
import LastCard from '../components/product_card/LastCard.astro'
---

<div class="mx-auto px-[10px]">
    <h1
        class="text-center font-semibold text-3xl md:font-extrabold md:text-5xl"
    >
        Nos produits
    </h1>
    <br />
    <div>
        <div class="grid grid-cols-2 sm:grid-cols-4 gap-6">
            <LastCard
                image={jarraya}
                name="Matelas orthopédique comfort plus 2 places"
                price="299"
                link="#"
                places="2"
            />
            <LastCard
                image={jarraya}
                name="Matelas orthopédique comfort plus 1 place"
                price="199"
                link="#"
            />
            
            <LastCard
                image={jarraya}
                name="Matelas orthopédique soft plus 7 étoiles 2 places"
                price="380"
                link="#"
                places="2"
            />
            <LastCard
                image={jarraya}
                name="Matelas orthopédique soft plus 7 étoiles 1 places"
                price="245"
                link="#"
            />
            <LastCard
            image={jarraya}
            name="Matelas orthopédique venise plus 2 places"
            price="440"
            link="#"
            places="2"
        />
        <LastCard
            image={jarraya}
            name="Matelas orthopédique venise plus 1 place"
            price="285"
            link="#"
        />
        <LastCard
            image={jarraya}
            name="Matelas ortho pillow top 10 étoiles 2 places 32cm"
            price="549"
            places="2"
            link="#"
        />
        <LastCard
            image={jarraya}
            name="Matelas ortho pillow top 10 étoiles 1 places  32cm"
            price="360"
            link="#"
        />
        <LastCard
            image={jarraya}
            name="Matelas orthomédical 11 étoiles 2 places"
            price="699"
            link="#"
            places="2"
        />
        <LastCard
            image={jarraya}
            name="Matelas orthomédical 11 étoiles 1 places"
            price="385"
            link="#"
        />
        <LastCard
            image={jarraya}
            name="Matelas orthomédical 13 étoiles 2 places"
            price="799"
            link="#"
            places="2"
        />
        <LastCard
            image={jarraya}
            name="Matelas orthomédical 13 étoiles 1 places"
            price="485"
            link="#"
        />
        <LastCard
            image={jarraya}
            name="Matelas orthomédical 15 étoiles 2 places"
            price="1150"
            link="#"
            places="2"
        />
        <LastCard
            image={jarraya}
            name="Matelas orthomédical 15 étoiles 1 places"
            price="599"
            link="#"
        />
        <LastCard
            image={jarraya}
            name="Matelas mousse 4 étoiles super mousse"
            price="79"
            link="#"
        />
        <LastCard
            image={jarraya}
            name="Matelas mousse 5 étoiles super mousse"
            price="85"
            link="#"
        />
        <LastCard
            image={jarraya}
            name="Matelas mousse 6 étoiles super mousse"
            price="110"
            link="#"
        />
        </div>

    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css?family=Cairo&display=block');

    * {
        font-family: 'Cairo';
    }
</style>
