---
import oreiller1 from '../assets/images/Oreillers-1.png'
import oreiller2 from '../assets/images/Oreillers-2.png'
import oreiller5 from '../assets/images/Oreillers-5.png'
import oreiller6 from '../assets/images/Oreillers-6.png'
import oreiller8 from '../assets/images/Oreillers-8.png'
import mousse4 from '../assets/images/mousse4.png'
import mousse5 from '../assets/images/mousse5.png'
import mousse6 from '../assets/images/mousse6.png'
import comfortplus from '../assets/images/comfort+.png'
import comfortplus1 from '../assets/images/comfort+1.png'
import soft2 from '../assets/images/softplus2.png'
import soft1 from '../assets/images/softplus1.png'
import venise from '../assets/images/venise.png'
import venise1 from '../assets/images/venise1.png'
import pillowtop2 from '../assets/images/pillowtop2.png'
import pillowtop1 from '../assets/images/pillowtop1.png'
import orthomed2 from '../assets/images/orthomed2.png'
import orthomed1 from '../assets/images/orthomed1.png'
import orthomed132 from '../assets/images/orthomed132.png'
import orthomed131 from '../assets/images/orthomed131.png'
import orthomed152 from '../assets/images/orthomed152.png'
import orthomed151 from '../assets/images/orthomed151.png'
import bébé from '../assets/images/bébé.png'
import ProductCard from '../components/product_card/ProductCard.astro'
---

<div class="mx-auto px-[10px]">
    <h1
        class="text-center font-semibold text-3xl md:font-extrabold md:text-5xl"
    >
        Nos produits
    </h1>
    <br />
    <div>
        <div class="grid grid-cols-2 sm:grid-cols-4 gap-6">
            <ProductCard
                image={comfortplus}
                name="Matelas orthopédique comfort plus 2 places"
                price="299"
                link="#"
                places="2"
            />
            <ProductCard
                image={comfortplus1}
                name="Matelas orthopédique comfort plus 1 place"
                price="199"
                places="1"
                link="#"
            />
            
            <ProductCard
                image={soft2}
                name="Matelas orthopédique soft plus 7 étoiles 2 places"
                price="380"
                link="#"
                places="2"
            />
            <ProductCard 
                image={soft1}
                name="Matelas orthopédique soft plus 7 étoiles 1 places"
                price="245"
                places="1"
                link="#"
            />
            <ProductCard
            image={venise}
            name="Matelas orthopédique venise plus 2 places"
            price="440"
            link="#"
            places="2"
        />
        <ProductCard
            image={venise1}
            name="Matelas orthopédique venise plus 1 place"
            price="285"
            link="#"
            places="1"
        />
        <ProductCard
            image={pillowtop2}
            name="Matelas ortho pillow top 10 étoiles 2 places 32cm"
            price="549"
            places="2"
            link="#"
        />
        <ProductCard
            image={pillowtop1}
            name="Matelas ortho pillow top 10 étoiles 1 places  32cm"
            price="360"
            places="1"
            link="#"
        />
        <ProductCard
            image={orthomed2}
            name="Matelas orthomédical 11 étoiles 2 places"
            price="699"
            link="#"
            places="2"
        />
        <ProductCard
            image={orthomed1}
            name="Matelas orthomédical 11 étoiles 1 places"
            price="385"
            places="1"
            link="#"
        />
        <ProductCard
            image={orthomed132}
            name="Matelas orthomédical 13 étoiles 2 places"
            price="799"
            link="#"
            places="2"
        />
        <ProductCard
            image={orthomed131}
            name="Matelas orthomédical 13 étoiles 1 places"
            price="485"
            link="#"
            places="1"
        />
        <ProductCard
            image={orthomed152}
            name="Matelas orthomédical 15 étoiles 2 places"
            price="1150"
            link="#"
            places="2"
        />
        <ProductCard
            image={orthomed151}
            name="Matelas orthomédical 15 étoiles 1 places"
            price="599"
            link="#"
            places="1"
        />
        <ProductCard
            image={bébé}
            name="Matelas Bébé"
            price="119"
            link="#"
            places="1"
        />
        <ProductCard
            image={mousse4}
            name="Matelas mousse 4 étoiles super mousse"
            price="79"
            link="#"
        />
        <ProductCard
            image={mousse5}
            name="Matelas mousse 5 étoiles super mousse"
            price="85"
            link="#"
        />
        <ProductCard
            image={mousse6}
            name="Matelas mousse 6 étoiles super mousse"
            price="110"
            link="#"
        />
        <ProductCard
            image={oreiller1}
            name="1 Oreiller Orthopédique Top Qualité Lavable 70x50cm"
            price="18"
            link="#"
        />
        <ProductCard
            image={oreiller2}
            name="2 Oreiller Orthopédique Top Qualité Lavable 70x50cm"
            price="35"
            link="#"
        />
        <ProductCard
            image={oreiller5}
            name="5 Oreiller Orthopédique Top Qualité Lavable 70x50cm"
            price="85"
            link="#"
        />
        <ProductCard
            image={oreiller6}
            name="6 Oreiller Orthopédique Top Qualité Lavable 70x50cm"
            price="99"
            link="#"
        />
        <ProductCard
            image={oreiller8}
            name="8 Oreiller Orthopédique Top Qualité Lavable 70x50cm"
            price="128"
            link="#"
        />
    
        </div>

    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css?family=Inter&display=block');

    * {
        font-family: 'Inter';
    }
</style>
