---
import ProductCard from '../components/product_card/ProductCard.astro'
import jarraya from '../assets/images/jarraya.png'
import ProductCardA from '../components/product_card/ProductCardA.astro'
import NewProductCard from '../components/product_card/NewProductCard.astro'
import LastCard from '../components/product_card/LastCard.astro'
---

<div class="mx-auto">
    <h1
        class="text-center font-semibold text-3xl md:font-extrabold md:text-5xl"
    >
        Nos produits
    </h1>
    <br />
    <div>
        <div class="grid grid-cols-2 sm:grid-cols-4 gap-6">
            <LastCard
                image={jarraya}
                name="Matelas bébé Soft"
                price="352"
                old_price="580"
                link="#"
            />
            <LastCard
                image={jarraya}
                name="Matelas bébé Soft"
                price="352"
                old_price="580"
                link="#"
            /><LastCard
                image={jarraya}
                name="Matelas bébé Soft"
                price="352"
                old_price="580"
                link="#"
            />
            <LastCard
                image={jarraya}
                name="Matelas bébé Soft"
                price="352"
                old_price="580"
                link="#"
            /><LastCard
                image={jarraya}
                name="Matelas bébé Soft"
                price="352"
                old_price="580"
                link="#"
            />
            <LastCard
                image={jarraya}
                name="Matelas bébé Soft"
                price="352"
                old_price="580"
                link="#"
            /><LastCard
                image={jarraya}
                name="Matelas bébé Soft"
                price="352"
                old_price="580"
                link="#"
            />
            <LastCard
                image={jarraya}
                name="Matelas bébé Soft"
                price="352"
                old_price="580"
                link="#"
            />
        </div>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css?family=Cairo&display=block');

    * {
        font-family: 'Cairo';
    }
</style>
