---
import ProductImage from './ProductImage.astro'
const { image, name, price, old_price, link, score } = Astro.props
---

<div class="flex-col flex gap-2 md:gap-1 w-[220px]">
    <a href={link}>
        <div class="flex-col flex gap-2 md:gap-1">
            <ProductImage image={image} score={score} />
            <p
                class="font-semibold text-2xl md:text-xl w-[220px] leading-5 mt-2"
            >
                {name}
            </p>

            <span class="text-red-500 font-bold inline-flex items-end gap-5">
                <span
                    class="text-red-500 font-bold inline-flex items-end gap-1 discounted-price"
                >
                    <p class="text-3xl md:text-3xl">{price}</p>
                    <p class="text-lg md:text-sm leading-5">DT</p>
                </span>
                <span
                    class="text-gray-500 font-bold inline-flex items-end gap-1"
                >
                    <p class="line-through text-xl">
                        {old_price}
                    </p>
                    {old_price != null ? <p class="text-xs">DT</p> : ''}
                </span>
            </span>
        </div>
    </a>

    <a href={link}>
        <button
            class="w-full h-[47px] bg-red-500 text-white rounded hover:scale-105 ease-in-out text-xl"
        >
            J'achete
        </button>
    </a>
</div>
<style>
    @keyframes priceAnimation {
        0%,
        100% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
    }

    .discounted-price {
        animation: priceAnimation 2s infinite; /* Repeating animation */
    }
</style>
