---
import { Image } from 'astro:assets'
import Corners from '~/assets/images/Corners.svg'
import Stars from './Stars.jsx'
const { image, score } = Astro.props
---

<div id="Image" class="max-w-[200px] h-full relative">
    <Image
        src={image}
        width={300}
        alt={'jarraya'}
        id="pic"
        class="border-solid border-[0.5px] border-black border-opacity-50 w-full"
    />
    <img
        src={Corners.src}
        width={Corners.width}
        height={Corners.height}
        id="Corners"
        class="absolute top-0 w-full"
    />
    <div id="stars" class="absolute bottom-[5px] left-[5px]">
        <Stars score={score} />
    </div>
</div>
